@{
  Page.Title ="avStore";
  Page.PageId = "Home";
}
@section scripts {
  <script src="~/Knockout/StoreViewModel.js"></script>
  <script src="~/Knockout/CustomBindings.js"></script>
}

<h1>Welcome to the avStore</h1>
<h2>AdventureWorks is proud to present a store built for your style</h2>

<div class="searchDisplay" data-bind="css: {visible: searchTerm() === ''}">
  <div class="viewTitle">Search</div>
  <input id ="searchInput" data-bind="searchInputText: $root"/>
  <a href="#" class="searchIcon icon48" data-bind="searchInput: $root"></a>
  <div class="errorDisplay" data-bind="text: error"></div>
</div>

<div class="searchResultsDisplay" data-bind="css: {visible: searchTerm() !== '' && productId() === ''}">
  <div class="viewTitle">Results for <span data-bind="text: searchTerm"></span></div>
  <div class="actions">
    <a href="#" class="backIcon icon32" data-bind="click: backToSearch"><span>Back to Search</span></a>
  </div>
  <ul class="productList" data-bind="foreach: searchResults ">
    <li>
      <a href="#" class="tagIcon icon32" data-bind="viewProduct: $root"><span data-bind="text: ProductName"></span></a>
    </li>
  </ul>
</div>

<div class="productDisplay" data-bind="css: {visible: productId() !== ''}">
  <div class="viewTitle">Product</div>
  <div class="actions">
    <a href="#" class="backIcon icon32" data-bind="click: backToSearchResults"><span>Back to Results</span></a>
  </div>
  <div class="leftColumn">
    <img class="productThumb" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Bmw_m5_s62_motor-terabass.jpg/250px-Bmw_m5_s62_motor-terabass.jpg" />
  </div>
  <div class="rightColumn" data-bind="with: productInfo">
    <span data-bind="text: ProductName"></span>
  </div>
</div>