@{
  Page.Title ="avStore";
  Page.PageId = "Home";
}
@section scripts {
<script src="~/Knockout/StoreViewModel.js"></script>
}

<h1>Welcome to the avStore</h1>
<p>AdventureWorks is proud to present a store built for your style</p>